body {
    background-color: var(--body-bg-color);
    display: flex;
}

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.caixa {
    width: 348px;
    background-color: var(--bg-cards);
    box-shadow: 4px 4px rgb(30, 30, 30);
    border-radius: 16px;
}

#perfil {
    height: 292px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil img {
    margin-top: 32px;
}

#perfil h1 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 23px;
}

#perfil span {
    margin-top: 10px;
}

#links {
    height: 348px;
    margin-top: 30px;
}

#links ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 40px;
    gap: 20px;
}

#links ul li {
    display: flex;
    align-items: center;
}

#links ul li a {
    margin-left: 20px;
    font-size: 13px;
}

#tecnologias {
    height: 208px;
    margin-top: 30px;
}

#tecnologias h2 {
    margin-top: 30px;
    margin-left: 20px
}

#tecnologias ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: 20px;
    margin-left: 30px;
}

#tecnologias ul li {
    margin-right: 15px;        
}

#tecnologias ul li span {
    display: block;
    width: 86px;
    height: 24px;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--bg-techs);
    color: black;
    border-radius: 30px;
    text-align: center;
    line-height: 24px;
}

#experiencias {
    margin-top: 30px;
    height: 352px;
}

#experiencias h2 {
    margin-top: 30px;
    margin-left: 20px
}

#experiencias ul {
    margin-top: 20px;
    margin-left: 40px;
    list-style: disc;
}

#experiencias ul li {
    margin-top: 10px;
}

#educacao {
    margin-top: 30px;
    height: 352px;
    margin-bottom: 64px;
}

#educacao h2 {
    margin-top: 30px;
    margin-left: 20px;
}

#educacao ul {
    margin-top: 20px;
    margin-left: 40px;
    list-style: disc;
}

#educacao ul li {
    margin-top: 10px;
}

main {
    width: 75%;
    margin-left: 60px;
    margin-right: 40px;
}

#meus-projetos {
    margin-top: 40px;
    width: 952px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#meus-projetos h2 {
    padding: 30px;
}

#meus-projetos a {
    padding: 34px;
}

#repositorios {
    display: flex;
    width: 100%;
    margin-top: 37px;
}

.title {
    display: flex;
    align-content: center;
    gap: 16px;
    margin-bottom: 20px;
}

#repositorio-1 {
    width: 461px;
    height: 186px;
    margin-right: 30px;
    padding: 30px;
}

#repositorio-2 {
    width: 461px;
    height: 186px;
    margin-right: 30px;
    padding: 30px;
}

.icones {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.github {
    display: flex;
    align-items: center;
    gap: 5px;
}

#posts-recents {
    margin-top: 30px;
    width: 952px;
    height: 86px;
    padding: 30px;
}

#post-1 {
    margin-top: 30px;
    width: 952px;
    height: 201px;
    padding: 30px;
}

#post-1 img {
    float: left;
    margin-right: 20px;
}

#post-1 p {
    margin-top: 28px;
}

#post-1 ul {
    margin-top: 11px;
    display: flex;
    gap: 10px;
}